h1 {
  color: aqua;
  background-color: black;
  font-size: xxx-large;
  margin: 10px;
  padding: 10px;
}

h2 {
  color: white;
  text-align: center;
  background-color: blueviolet;
  font-style: italic;
  font-size: xxx-large;
  margin: 10px;
}

h3 {
  text-align: right;
  background-color: rgb(23, 111, 242);
  text-decoration: underline;
  font-size: xxx-large;
  font-style: normal;
  margin: 10px;
}

span {
  color: aliceblue;
}
