<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <h1 class="text-center text-5xl">Send an Omikuji!</h1>
        <div class="w-40/100 mx-auto border-2 rounded-md mt-5 bg-blue-400 text-black">
            <p class="text-5xl">In [[${number}]] years, you will live in [[${name}]] with [[${personName}]] as your roommate, [[${prof}]] for a living the next time you see a [[${living}]], you will have good luck. Also, [[${nice}]]</p>
        </div>
    </body>
</html>